.rootlayout_container > div {
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 15%;
}

.outlet {
  margin-left: 15%;
  min-width: 85%;
}


.navbar{
  margin: 0 auto;
  min-width: 100%;
  width: 100%;
}

.theme-toggle__within{
  height: 1.5em;
  width: 1.5em;
}

.--tw-ring-color{
  color: #b242f5;
}

@media screen and (min-width: 768px) {
  .rootlayout_container > div {
    width: 8%;
  }

  .outlet {
    margin-left: 8%;
    min-width: 92%;
  }
}

@media screen and (max-width: 768px) {
  .theme-toggle__within{
    height: 1.1em;
    width: 1.1em;
  }
}


@media screen and (max-width: 1279px) {
  aside a.active > div > .iconsss {
    color: #b242f5;
  }
}

@media screen and (min-width: 1280px) {
  .rootlayout_container > div {
    width: 18%;
  }

  .outlet {
    margin-left: 18%;
    min-width: 80%;
  }

  

  aside a.active {
    background: rgba(228, 193, 249, 0.7);
    border-radius: 13px;
    border: 1px solid rgba(228, 193, 249, 0.3);
  }
}
